<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>새 강의 등록</title>
</head>
<body>
    <h1>새로운 강의 등록</h1>
    <form action="http://localhost:3000" method="get">
        <input type="text" name="title" placeholder="강의제목"><br><br>
        <input type="text" name="limit" placeholder="수강인원"><br><br>
        <input type="text" name="credit" placeholder="학점"><br><br>
        <input type="submit" value="강의등록">
    </form>
</body>
</html>