<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>강의목록</h1>
    <div id="jsonContainer"></div>


    <form action="/goback" method="post">
        <input type="hidden" name="back" value="professor">
        <input type="submit" value="뒤로가기">
    </form>
    <script>
        function displayJSON() {
            fetch('/lectures') // 서버의 라우터 경로 입력
                .then(response => response.json())
                .then(data => {
                    const jsonContainer = document.getElementById('jsonContainer');
                    jsonContainer.innerText = JSON.stringify(data);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        displayJSON();
    </script>
</body>
</html>