<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professor</title>
</head>
<body>
    <h1>Professor page</h1>
    <button><a href ='/professor/makenewlecture'>강의 개설</a></button><br>
    <button><a href ='/professor/proflecture'>개설 강의 조회</a></button><br>
    <form action="/logout" method="post">
        <input type="submit" value="로그아웃">
    </form>
</body>
</html>