<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
</head>
<body>
    <h1>Student page</h1>
    <a href="">자신의 강의보기</a><br>
    <form action="/logout" method="post">
        <input type="submit" value="로그아웃">
    </form>
</body>
</html>